
body
{
    background-color: darkblue; /*back-up color if pictures don't load*/
    background-image: url('../images/ucf1.jpg'),url('../images/ucf1b.jpg'); 
	background-repeat: no-repeat, repeat-y;
	background-position-x: 50%;
    background-position-y: 20%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#title 
{
    font-size: 55px;
    font-family: 'Varela Round', 'Calibri', Arial;
    text-align: center;
    color:black;
    width: 100%;
    text-shadow: 1px 2px goldenrod;
    margin-bottom: 1.5%;
}

#inner-title
{
    font-family: 'Varela Round', 'Calibri', Arial;
    text-align: center;
    color: black;
    width: 100%;
    margin-bottom: 2%;
}

#loginDiv /*Welcome back Knight!*/
{
    font-size: 30px;
    width: 70%;
    margin: auto;
}

#searchOrAdd
{
    border-radius: 2em;
    font-size: 30px;
    width: 80%;
    margin-left: 8%;
    align-self: center;
}

.buttons
{
    font-size: 70%;
    font-family: 'Varela Round', 'Calibri', Arial;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 50px;
    border-color: goldenrod;
    outline: 0;
    height: 1.7em;
    width: 8em;
    margin-left: 38%;
    
    width: 25%;
    cursor: pointer;
}

.buttons:hover
{
    color: #FFFFFF;
    background-color: goldenrod;
    opacity: 95%;
}

#loginName
{
    font-size: 27px;
}

#loginPassword
{
	font-size: 27px;
}

#searchBar
{
    background: url(../images/search_icon.png) no-repeat scroll .5px .5px;
    background-color: white;
    background-size: 40px 40px;
    background-repeat: no-repeat; 
    padding-left:45px;
    font-size: 30px;
    text-align: justify;
    display: inline-block;
}

#addContact
{
    width: 20%;
}

#contact
{
    border-radius: 2em;
    font-size: 30px;
    width: 80%;
    margin-top: 2%;
    margin-left: 8%;
    align-self: center;
    padding: 25px;
    background-color: goldenrod;
}

input[type="text"], input[type="password"]
{
    border-radius: 25px;
    border-color: goldenrod;
    background-color: white;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 2%;
    font-size: 0.5em;
    outline: 0;
    font-family: 'Varela Round', 'Calibri', Arial;
}

#welcome
{
    border-radius: 20px;
    border-width: 50%;
    border-bottom: 1.3px solid goldenrod;
    border-top: 1.3px solid goldenrod;
    border-left: 1px solid goldenrod;
    border-right: 1px solid goldenrod;
    display: inline-block;
    background-color: black;
    font-size: 0.8em;
    width: 36%;
    text-align: center;
    margin-left: 32%;
    margin-bottom: 2%;
    font-family: 'Varela Round', 'Calibri', Arial;
    color: white;
}

#createAccount
{
    display: inline-block;
    width: 90%;
    margin-left: 5%;
    font-size: 0.7em;
    text-align: center;
    font-family: 'Varela Round', 'Calibri', Arial;
    color: black;
}

#haveAccount
{
    display: inline-block;
    width: 90%;
    margin-left: 5%;
    font-size: 0.7em;
    text-align: center;
    font-family: 'Varela Round', 'Calibri', Arial;
    color:black;
}

#loginResult /* I'm not sure what this does*/
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Varela Round', 'Calibri', Arial;
    color: #95060a;
}

#userName
{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton
{
    border-radius:20%;
    width: 10%;
    margin-left: 40%;
    width: 5em;
    height: 3.5em;
    margin-left: 38%;
    border-color: transparent;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    height: 60px;  
    width: 60px;
    position:absolute;
    top:1%;
    right:1%;
    background-image: url('../images/logOut.png');
}

#logoutButton:hover
{
    background-color: goldenrod;
    border-color: gray;
    opacity: 100%;
}

#buttonDiv
{
    margin-top: 2%;
    margin-left: 10%;
    width:80%;
    text-align: left;
    background-color: transparent;
}

.inner
{
    margin-left: 12%;
    font-family: 'Varela Round', 'Calibri', Arial;
    font-size: 150%;
    display: inline-block;
    width: 20em;
    margin-right: -30%;
    text-size-adjust: 30%;
}

.inner-2
{
    margin-left: 5%;
    font-family: 'Varela Round', 'Calibri', Arial;
    font-size: 150%;
    display: inline-block;
    width: 20em;
    margin-right: -30%;
    text-size-adjust: 30%;
}

#searchOrAdd
{
    border-radius: 0;
    margin-top: 2%;
    margin-left: 0;
    width:100%;
    background-color: red;
}

select
{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Varela Round', 'Calibri', Arial;
}

#colorSearchResult
{
    display: none;
}

#colorAddResult
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Varela Round', 'Calibri', Arial;
    color: #95060a;
}

#notes
{
    font-family: 'Varela Round', 'Calibri', Arial;
    width: 85%;
    border: 2px solid black;
    border-radius: 4px;
    outline: 0;
    padding-left: 2%;
    margin-top: 4%;
    margin-left: 12%;
    resize: none;
    font-size: 0.5em;
    max-height: 400%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-border-image: border-box;
    border-image: auto;
    height: 70px;
  }

.container 
{
    font-family: 'Varela Round', 'Calibri', Arial;
    border-radius: .5em;
    font-size: 25px;
    width: 50%;
    margin-top: 2%;
    margin: auto;
    padding : 15px;
    padding-left: 1%;
    background-color: goldenrod;
}

/* Clear floats after the columns */
.row:after 
{
    content: "";
    display: table;
    clear: both;
}

label 
{
    padding-left: 8%;
    padding-top: 6%;
    display: inline-block;
}

.col-left
{
    float: left;
    width: 40%;
    margin-top: 2px;
    margin-right: -10%;
}
  
.col-right 
{
    font-size: 150%;
    float: left;
    margin-top: 2px;
    width: 70%;
    margin-right: 0;
}

#required
{
    font-family: 'Varela Round', 'Calibri', Arial;
    color: darkred;
    font-size: 0.6em;
}

#firstname, #lastname, #email, #number, #address{
    border-color: black;
    padding-left: 3.5%;
    text-align: justify;
    font-size-adjust: initial;
    width: 80%;
    margin-left: 12%;
    margin-bottom: 2%;
    font-size: 0.5em;
    outline: 0;
    font-family: 'Varela Round', 'Calibri', Arial;
}
